<h1>Wiadomość z formularza kontaktowego - wpisy o życiu</h1>

<p>Od: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Temat wiadomości: <%= @contact.subject %></p>
<p>Wiadomość: <%= @contact.message %></p>
