<table class="table">
  <thead>
    <tr>
      <th scope="col">Tytuł</th>
      <th scope="col">Edytuj</th>
      <th scope="col">Usuń</th>
    </tr>
  </thead>
  <tbody>
  <% @roles.each do |role| %>
    <tr>
      <td><%= role.name %></td>
      <td><%= link_to "Edytuj", panel_admina_role_edycja_rol_path(role.id), class: "btn" %></td>
      <td><%= button_to "Usuń", @role, method: :delete, class: "btn" %></td> 
    </tr>
  <% end %>
  </tbody>
</table>
