<div data-controller="previews">
  
  <%= form.label :main_image, "Główne zdjęcie", class: "form-label d-block mt-2" %>
  <%= form.file_field :main_image, direct_upload: true, data: { previews_target: "input", action: "change->previews#preview"}, class: "form-control" %>

  <% if post.main_image.attached? %>
    <%= image_tag post.image, data: { previews_target: "preview" }, class: "image" %>
  <% else %>
    <%= image_tag "", data: { previews_target: "preview" }, class: "image" %>
  <% end %>
</div>