<div id="<%= dom_id post %>">
  <% content_for :title, post.title %>
  <% content_for :desc, post.content.to_plain_text.truncate(100, separator: '.') %>
  <h1 class="text-center"><%= post.title %></h1>

  <div>
    <%= post.content %>
  </div>
  <% if post.gallery.attached? %>
    <div>
      <h2>Galeria zdjęć</h2>
        <div class="d-flex gap-2 flex-wrap">
          <% post.gallery.each do |img| %>
            <div class="gallery-img" style="background-image: url('<%= url_for(img) %>');"></div>
          <% end %>
        </div>
    </div>
  <% end %>
</div>
