<% content_for :title, "Edycja wpisu" %>

<h1>Edytuj wpis</h1>

<%= render "form", post: @post, action: false %>

<br>

<div>
  <%= link_to "Pokaż ten post", wpisy_path(@post) %> |
  <%= link_to "Wróć", admin_path %>
</div>
