<% content_for :title, "Wpisy" %>

<h1>Wpisy o życiu</h1>
<p>Sint in ea eiusmod qui cupidatat sunt voluptate id nostrud pariatur Lorem enim. Ipsum Lorem adipisicing Lorem cillum ex aliqua elit tempor. In ea consequat exercitation cillum id. Duis do id officia dolore ipsum proident anim consectetur exercitation aliquip do ullamco. Mollit dolor officia incididunt dolore.</p>

<div class="d-flex flex-wrap gap-5" id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <%
=begin%>
 <p>
      <%=# link_to "Show this post", post %>
    </p> 
<%
=end%>
  <% end %>
</div>

