<footer class="footer mt-5 bg-dark">
  <div class="container d-flex align-items-center">
    <%= image_tag("mainpage/logo.png", alt: "Logo", style: "width: 100px; height: 100px;", class: "d-inline-block") %>
    <p class="d-inline-block ms-auto">Strona wykonana przez: Filip</p>
  </div>
</footer>